body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

.videoContainer
{
	position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
	background-color: #000;
}

.video
{
	background-color: #000;
}

#localVideo
{
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 20%;
	height: auto;
}

#remoteVideo
{
	width: 100%;
	height: 100%;
}
